{% set today = comment.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
{% set yesterday = comment.createdAt|date("Y-m-d") == ("-1 day"|date("Y-m-d")) %}
<div>
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gx-2">
            <div class="text-lg"><strong>{{ comment.author.username }}</strong></div>
            <span>-</span>
            <div class="text-muted">
                <i>
                    {% if today %}
                        {{ comment.createdAt|date("H:i") }}
                    {% elseif yesterday %}
                        Hier
                    {% else %}
                        {{ comment.createdAt|date("d M") }}
                    {% endif %}
                </i>
            </div>
        </div>
        {% if comment.author.id == app.user.id %}
            <div>
                <form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                    <button class="btn btn-danger">
                        Supprimer
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
    <p>{{ comment.content }}</p>
</div>