{% extends 'base.html.twig' %}

{% block title %}Catégories - Mon Blog{% endblock %}

{% block body %}

    <div class="flex items-center justify-between mb-4">
        <div class="flex items-center gap-4">
            <a href="{{ path('app_article_index') }}" class="w-8 h-8 min-w-8 flex items-center justify-center border-1 border-neutral-400 rounded-4xl text-lg pb-0.5">
                <span>{{ '<' }}</span>
            </a>
            <h1 class="font-normal text-4xl">Tous les catégories</h1>
        </div>
        <a href="{{ path('app_category_new') }}" class="block bg-neutral-50 border-1 border-red-400 text-red-400 rounded-md px-4 py-1 transition-all delay-50 hover:bg-red-400 hover:text-red-50">
            <span>Créez une catégorie</span>
        </a>
    </div>

    {% set descriptionLength = 40 %}

    {% for category in categories %}
        {% set today = category.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
        {% set yesterday = category.createdAt|date("Y-m-d") == ("-1 day"|date("Y-m-d")) %}
        <a href="{{ path('app_category_show', {'id': category.id}) }}" class="block border-neutral-200 rounded-lg px-4 py-2 transition-all delay-50 hover:bg-neutral-100">
            <div class="flex items-center justify-between">
                <h2 class="text-xl font-bold text-red-400">{{ category.title }}</h2>
                <div class="text-sm">
                    <i>
                        {% if today %}
                            {{ category.createdAt|date("H:i") }}
                        {% elseif yesterday %}
                            Hier
                        {% else %}
                            {{ category.createdAt|date("d M") }}
                        {% endif %}
                    </i>
                </div>
            </div>
            <p>
                {{ category.description|length >= descriptionLength ? category.description|slice(0, descriptionLength - 3) ~ '...' : category.description }}
            </p>
        </a>
        {% if not loop.last %}
            <hr class="border-neutral-300 mx-4">
        {% endif %}
        {% else %}
            <div class="justify-items-center p-8">
                <h3 class="text-center">
                    Pas de catégorie
                </h3>
                <a href="{{ path('app_category_new') }}" class="block bg-neutral-50 border-1 border-red-400 text-red-400 rounded-sm px-4 py-1 mt-2 hover:bg-red-400 hover:text-red-50">
                    <span>Créez une catégorie</span>
                </a>
            </div>
    {% endfor %}
    
{% endblock %}
