{% extends 'base.html.twig' %}

{% block title %}Catégories - Mon Blog{% endblock %}

{% block body %}

    <div class="flex justify-between mb-5">
        {{ 
            include(
                'components/header/_navbar.html.twig',
                {
                    'go_back': path('app_article_index'),
                    'nav_title': "Tous les catégories"
                }
                )
        }}
        <a href="{{ path('app_category_new') }}">
            {{ include('components/buttons/_button_outline.html.twig', {'button_label' : 'Ajouter une catégorie'} ) }}
        </a>
    </div>

    {% set descriptionLength = 40 %}

    {% for category in categories %}
        <a href="{{ path('app_category_show', {'id': category.id}) }}">
            {{ include('category/_category_item_list.html.twig', {'category': category, 'description_length': descriptionLength}) }}
        </a>
        {% if not loop.last %}
            <hr class="border-neutral-300 mx-4">
        {% endif %}
        {% else %}
            <div class="justify-items-center p-8">
                <h3 class="text-center">
                    Pas de catégorie
                </h3>
                <a href="{{ path('app_category_new') }}">
                    {{ include('components/buttons/_button_outline.html.twig', {'button_label' : 'Ajouter une catégorie'} ) }}
                </a>
            </div>
    {% endfor %}
    
{% endblock %}
