{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.title }} - Mon Blog{% endblock %}

{% block body %}
    <div class="flex items-center gap-4 mb-4">
        <a href="{{ path('app_category_index') }}" class="w-8 h-8 min-w-8 flex items-center justify-center border-1 border-neutral-400 rounded-4xl text-lg pb-0.5">
            <span>{{ '<' }}</span>
        </a>
        <h1 class="font-normal text-4xl">Détail de catégorie</h1>
    </div>

    <div class="grid grid-cols-2">
        <div class="my-2">
            <strong><u>Nom de la catégorie</u></strong>: {{ category.title }}
        </div>
        <div class="my-2">
            <strong><u>Crée le</u></strong>: {{ category.createdAt|date("d/m/Y H:i") }}
        </div>
        <div class="my-2">
            <strong><u>Description</u>: </strong>
            <p>
                {{ category.description }}
            </p>
        </div>
    </div>

    <div class="flex gap-2 mt-4">
        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="bg-red-400 border-1 text-neutral-50 rounded-md px-4 py-1 mt-2 transition-all delay-50 cursor-pointer hover:bg-neutral-50 hover:text-red-400">Modifier</a>
        {{ include('category/_delete_form.html.twig') }}
    </div>


{% endblock %}
