{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.title }} - {{ parent() }}{% endblock %}

{% block body %}

{{ include(
    'components/header/_navbar.html.twig',
    {
        'navList': [
            {name: "Home", path: "app_public_home"},
            {name: "Article", path: "app_article_index"},
            {name: "Catégories", path: "app_category_index"},
        ],
        'navAction': [],
        'active': "Catégories"
    }
    )
}}

<div class="container py-4">

    {{ include('category/_category_item_list.html.twig', {'category': category}) }}

    <div class="d-flex gap-2 mt-4">
        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-success">
            Modifier cette catégorie
        </a>
        {{ include('category/_delete_form.html.twig') }}
    </div>

</div>

{% endblock %}
