{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}

{{ include(
    'components/header/_navbar.html.twig',
    {
        'navList': [
            {name: "Accueil", path: "app_public_home"},
            {name: "Articles", path: "app_article_index"},
            {name: "A propos", path: "app_public_home"},
        ],
        'navAction': [
            {name: "Se connecter", path: "app_login"}
        ],
        'active': "Accueil"
    }
    )
}}

{# {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <h1>IS_AUTHENTICATED_FULLY</h1>
{% endif %} #}

<div class="bg-primary py-4">
    <div class="container d-flex justify-content-between text-light py-5">
        <div class="flex-grow-1">
            <h1>Bienvenue sur Mon Blog</h1>
            <p class="my-4">
                Un espace ouvert à tous pour découvrir, apprendre et partager partage ici ce qui vous passionne, au fil de mes idées et découvertes. Crée un compte pour réagir, suivre les nouveautés et faire partie de l’aventure.
            </p>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a href="{{ path('app_article_index') }}" class="btn btn-outline-light">Voir tous les articles</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container py-5">
    <h2 class="text-2xl">Articles récents</h2>
    <div class="row row-cols-2 align-items-stretch justify-content-between g-2">
        {% for article in articles %}
            <div class="col-4">
                <div class="card px-4 py-4">
                    <h4><a href="{{ path('app_article_show', {id: article.id}) }}" class="text-primary text-decoration-none">{{ article.title }}</a></h4>
                    <p>{{ article.content|length > 75 ? article.content|slice(0, 72) ~ '...' : article.content }}</p>
                    <div class="d-flex">
                        <strong>{{ article.likes|length }} J'aime</strong>
                        <span class="mx-3">|</span>
                        <strong>{{ article.comments|length }} Commentaires</strong>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="bg-light">
    <div class="container text-center p-4">
        &copy; Mon Blog - 2025
    </div>
</div>

{% endblock %}