{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}

{{ include(
    'components/header/_navbar.html.twig',
    {
        'navList': [
            {name: "Home", path: "app_public_home"},
            {name: "A propos", path: "app_public_home"},
        ],
        'navAction': [
            {name: "Se connecter", path: "app_login"}
        ],
        'active': "Article"
    }
    )
}}

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <div class="bg-light rounded shadow-sm px-5 py-4 m-4">
            <h1 class="text-center mb-4">S'inscrire</h1>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">
                        Créer un compte
                    </a>
                </div>
            {{ form_end(registrationForm) }}
            <div class="text-center mt-2">
                <a href="{{ path('app_login') }}" class="btn btn-tertiary">
                    Se connecter
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
