<div class="bg-red-50/0 rounded-md shadow-sm p-8 transition-all delay-25 hover:bg-red-50/50">
    <div class="flex items-center justify-between">
        <h2 class="text-xl font-bold text-wrap">{{ article.title }}</h2>
    </div>
    <div class="text-neutral-400">
        {% if today %}
            <i>Publié </i>: <span>Aujourd'hui à {{ article.createdAt|date("H:i") }}</span>
        {% elseif yesterday %}
            <i>Publié </i>: <span>Hier à {{ article.createdAt|date("H:i") }}</span>
        {% else %}
            <i>Publié le </i>: <span>{{ article.createdAt|date("d M") }}</span>
        {% endif %}
    </div>
    <p>{{ article.content|length > 100 ? article.content|slice(0, 97) ~ '...' : article.content }}</p>
    <div class="flex justify-between items-end">
        <div class="flex flex-wrap gap-2 mt-5">
            {% for category in article.categories %}
                {{ include('components/tags/_tag_solid.html.twig', {'tag_label' : category.title}) }}
            {% endfor %}
        </div>
        <div class="flex flex-wrap gap-2 mt-5">
            <div class="flex items-center gap-2">
                <span class="block font-bold">{{ article.comments|length }}</span>
                <span>
                    {% if article.comments|length > 1 %}
                        Commentaires
                    {% else %}
                        Commentaire
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>