{% extends 'base.html.twig' %}

{% block title %}Articles - Mon Blog{% endblock %}

{% block body %}

<div class="w-full flex gap-2">

    <div class="w-4/5 pr-8">
        <div class="flex items-center justify-between mb-4">
            <h1 class="font-normal text-4xl">Articles</h1>
            {% if articles|length > 0 %}
                <a href="{{ path('app_article_new') }}">
                    {{ include('components/buttons/_button_outline.html.twig', {'button_label' : 'Créez un article'} ) }}
                </a>
            {% endif %}
        </div>
        <div class="grid gap-4 mt-8">
            {% if articles|length > 0 %}
                {% for article in articles %}
                    {% set today = article.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                    {% set yesterday = article.createdAt|date("Y-m-d") == ("-1 day"|date("Y-m-d")) %}
                    <a href="{{ path('app_article_show', {id: article.id}) }}">
                        {{ include('article/_article_item_list.html.twig', {'article': article}) }}
                    </a>
                {% endfor %}

                <div class="flex items-center justify-end text-md mt-4">
                    <a href="{{ path('app_article_index', {'page': ((currentPage > 1) ? (currentPage - 1) : currentPage) }) }}" class="border-1 border-red-400 rounded-l-md px-2 py-1"><span>Précédent</span></a>
                    {% for i in 1 .. totalPages %}
                        <a href="{{ path('app_article_index', {'page': ((currentPage > 1) ? (currentPage - 1) : currentPage) }) }}" class="border-t-1 border-b-1 border-red-400 px-2 py-1 {{ currentPage == i ? 'text-neutral-300' : '' }}"><span>{{ i }}</span></a>
                    {% endfor %}
                    <a href="{{ path('app_article_index', {'page': (currentPage + 1) }) }}" class="border-1 border-red-400 rounded-r-md px-2 py-1"><span>Suivant</span></a>
                </div>

            {% else %}
                <div class="justify-items-center p-8">
                    <h3 class="font-normal text-center">
                        Pas d'article pour le moment
                    </h3>
                    <a href="{{ path('app_article_new') }}">
                        {{ include('components/buttons/_button_outline.html.twig', {'button_label' : 'Créez un article'} ) }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="w-1/5 border-l-1 border-neutral-300 pl-8">
        <a href="{{ path('app_category_index') }}" class="block text-red-400 font-bold text-center text-lg">
            <u>Tous les catégories</u>
        </h4>
        <div class="mt-2">
            {% for category in categories %}
                <a href="{{ path('app_category_show', {'id': category.id}) }}">
                    {{ include('category/_category_name_list.html.twig', {'category_label': category.title}) }}
                </a>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
