{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <div class="mb-10">
        {{ 
            include(
                'components/header/_navbar.html.twig',
                {
                    'go_back': path('app_article_index'),
                    'nav_title': article.title
                }
                )
        }}
    </div>   

    <div class="text-neutral-400 my-4 ml-12">
        <span><i>Publié le</i> : {{ article.createdAt|date('d/m/Y H:i') }}</span>
    </div>

    <div class="mt-10">
        <p class="leading-loose indent-8">
            {{ article.content }}
        </p>
    </div>

    <div class="flex flex-wrap gap-2 my-4">
        {% for category in article.categories %}
            {{ include('components/tags/_tag_solid.html.twig', {'tag_label': category.title}) }}
        {% endfor %}
    </div>

    <div class="flex justify-end gap-2 mt-2">
        <a href="{{ path('app_article_edit', {'id': article.id}) }}">
            {{ include('components/buttons/_button_outline.html.twig', {'button_label': "Modifier"}) }}
        </a>
        {{ include('article/_delete_form.html.twig') }}
    </div>

    <div class="mt-4">
        <hr class="w-1/2 border-neutral-300 mx-auto my-8">
        <h3 class="font-normal text-3xl">Commentaires ({{article.comments|length}})</h3>
        <div class="mt-4">
            {{ include("comment/new.html.twig", {'commentForm': commentForm }) }}
        </div>
        <hr class="w-1/2 border-neutral-300 mx-auto my-4">
        <div class="mt-4">
            {{ include("comment/list.html.twig", {'comments': article.comments}) }}
        </div>
    </div>

{% endblock %}
